<section class="social_links">
     
       <a href="http://www.youtube.com/user/beonthenetTV" title="Youtube"><img alt="Youtube" src="http://beonthe.net/accounts/beonthe.net/images/social_media/youtube_32at2x.png" /></a>
     
       <a href="http://www.facebook.com/beonthenet.com.br" title="Facebook"><img alt="Facebook" src="http://beonthe.net/accounts/beonthe.net/images/social_media/facebook_32at2x.png" /></a>
     
       <a href="http://twitter.com/beonthenet" title="Twitter"><img alt="Twitter" src="http://beonthe.net/accounts/beonthe.net/images/social_media/twitter_32at2x.png" /></a>
     
       <a href="https://plus.google.com/+BeontheNetTV/posts" title="Googleplus"><img alt="Googleplus" src="http://beonthe.net/accounts/beonthe.net/images/social_media/googleplus_32at2x.png" /></a>
     
       <a href="http://www.pinterest.com/beonthenet/" title="Pinterest"><img alt="Pinterest" src="http://beonthe.net/accounts/beonthe.net/images/social_media/pinterest_32at2x.png" /></a>
     
       <a href="http://feeds.feedburner.com/BlogBeOnTheNet" title="Rss"><img alt="Rss" src="http://beonthe.net/accounts/beonthe.net/images/social_media/rss_32at2x.png" /></a>
     
</section>