<section class="social_sharing">
  <iframe src="//www.facebook.com/plugins/like.php?href=http://beonthe.net&amp;send=false&amp;layout=button_count&amp;width=107&amp;height=20&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:107px; height:20px; " allowTransparency="true"></iframe>


  <div><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://beonthe.net" data-text="Be on the Net" data-count='horizontal' data-counturl="http://beonthe.net" data-hashtags="" data-via="beonthenet"  data-related="">Tweet</a></div>


  <g:plusone size='standard' expandTo='bottom,left' style="position:relative; left:30px;"></g:plusone>

</section>