<section class="subscribe_to_mail">
  <h4>Ei, quer que avisemos quando sair novo vídeo ou artigo? É só preencher abaixo:</h4>
  <form action="http://beonthe.us4.list-manage1.com/subscribe/post" method="POST" id="mergeTable" class="mergeTable">
    <input type="hidden" name="u" value="b5756361d805d100798b37b14" />
    <input type="hidden" name="id" value="f328925d54" />

    <label for="MERGE1">Nome <small>(Necessário)</small></label><br />
    <input type="text" name="MERGE1" id="MERGE1" value="" placeholder="Ex: Nanda, Ricardo"/><br />
    <label for="MERGE0">Email <small>(Necessário)</small></label><br />
    <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="" placeholder="Ex: nanda@mail.com"/><br />
    <button type="submit">Avise-me sobre os próximos artigos!</button>
    <!-- real people should not fill this in and expect good things -->
    <div style="position: absolute; left: -5000px;"><input type="text" value="" /></div>
  </form>
</section>
